name: Reusable Workflow - Lazy protocol - With real wallet tests

on: 
  workflow_call:
    inputs:
      base_url:
        description: 'Environment base URL to run the tests on.'
        type: string
        default: 'https://staging.summer.fi/earn'
        required: false
      script:
        description: 'package.json scrip to be run'
        type: string
        default: 'ci:lazy-with-real-wallet'
        required: true
      report_name:
        description: 'playwright report name'
        type: string
        default: 'lazy-real-wallet'
        required: false

jobs:
  with-real-wallet-tests:
    name: 'Lazy - Tests with real wallet'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.49.0-jammy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn
      - name: Install xvfb
        run: apt-get update -y && apt-get -y install xvfb && rm -rf /var/lib/apt/lists/* /var/cache/apt/*
      - name: Verify that staging environment is ready for testing
        if: ${{ inputs.base_url == 'https://staging.summer.fi/earn' }}
        run: xvfb-run yarn verify-staging-lazy
      - name: Build Synpress cache
        run: |
          BASE_URL=${{ inputs.base_url }} \
          VERY_OLD_TEST_WALLET_PK=${{ secrets.VERY_OLD_TEST_WALLET_PK }} \
          yarn ci:synpress-build-cache:real-wallet
      - name: Run 'Lazy - With real wallet' tests
        run: |
          OLD_WALLET_PK=${{ secrets.OLD_WALLET_PK }} \
          BASE_URL=${{ inputs.base_url }} \
          yarn ${{ inputs.script }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ inputs.report_name }}
          path: playwright-reports/${{ inputs.report_name }}
          retention-days: 30
